<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.exbin.bined.eclipse.plugin.editors.BinEdEditor"
            extensions="bin"
            icon="icons/icon.png"
            id="org.exbin.bined.eclipse.plugin.editors.BinEdEditor"
            name="BinEd Binary/Hexadecimal Editor">
            <contentTypeBinding contentTypeId="bined.binaryFile"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="bin"
            id="bined.binaryFile"
            name="Binary file"
            priority="low">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.exbin.bined.eclipse.plugin.handlers.ViewAsBinaryVariableHandler"
            commandId="org.exbin.bined.eclipse.plugin.variablesViewAsBinary">
         <enabledWhen>
            <with variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.debug.core.model.IVariable">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.debug.ui.VariableView">
         <command
               commandId="org.exbin.bined.eclipse.plugin.variablesViewAsBinary"
               icon="icons/icon.png"
               label="View as Binary"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.exbin.bined.eclipse.debugCategory"
            name="Debugging">
      </category>
      <command
            categoryId="org.exbin.bined.eclipse.debugCategory"
            id="org.exbin.bined.eclipse.plugin.variablesViewAsBinary"
            name="View as Binary">
      </command>
   </extension>
</plugin>
